<nav>
    <svg width="91" height="86" viewBox="0 0 91 86" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="30.8372" cy="32.3489" r="30.8372" fill="#2F5373" />
        <circle cx="60.1628" cy="30.8372" r="30.8372" fill="#8FA9BF" />
        <circle cx="33.1046" cy="58.8023" r="27.0581" fill="#58788C" />
    </svg>

    <a mat-button [matMenuTriggerFor]="menu">Cadastro</a>
    <mat-menu #menu="matMenu">
        <button mat-menu-item>Produtos</button>
    </mat-menu>
    <a href="/">Vendas</a>
    <a href="/">Configurações</a>
</nav>