a{
    text-decoration: none;
    color: var(--dark);
    transition: 0.1s;

    margin-left: 2.2rem;
}

a:hover{
    cursor: pointer;
    color: var(--light-blue);
    /* transition-delay:0s; */
}

nav{
    display: flex;
    align-items: center;

    margin: 2rem ;
}