<app-navbar-default></app-navbar-default>
<main>
    <form>
        <div class="geral">
            <h1>Numero: {{venda.numero_venda}}</h1>
            <h2>Status: {{venda.status}}</h2>
        </div>

        <div class="datas">
            <span>Gerada em: {{venda.createdAt}}</span> <br>
            <span>Concluída em: {{venda.data_emissao}}</span>
        </div>

        <table mat-table [dataSource]="itens_venda">
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> ID </th>
                <td mat-cell *matCellDef="let dado"> #{{dado.id}} </td>e
            </ng-container>

            <ng-container matColumnDef="nome">
                <th mat-header-cell *matHeaderCellDef> Nome </th>
                <td mat-cell *matCellDef="let dado"> {{dado.produto.nome}} </td>e
            </ng-container>

            <ng-container matColumnDef="quantidade">
                <th mat-header-cell *matHeaderCellDef> Quantidade </th>
                <td mat-cell *matCellDef="let dado"> {{dado.quantidade}} </td>
            </ng-container>

            <ng-container matColumnDef="valor_unitario">
                <th mat-header-cell *matHeaderCellDef> Valor Unitario </th>
                <td mat-cell *matCellDef="let dado">R$ {{dado.valor_unitario}} </td>
            </ng-container>

            <ng-container matColumnDef="valor_total_item">
                <th mat-header-cell *matHeaderCellDef> Valor Total </th>
                <td mat-cell *matCellDef="let dado">R$ {{dado.valor_total_item}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="nome_coluna"></tr>
            <tr mat-row *matRowDef="let row; columns: nome_coluna;"></tr>
        </table>

        <div class="valor_total_venda">
            <span>R$ {{venda.valor_total}}</span>
        </div>

        <div class="botoes">
            <button routerLink="/vendas">Voltar</button>
            <button *ngIf="venda.status==='Venda Concluída'" (click)="deletarVenda()">Cancelar Venda</button>
            <button *ngIf="venda.status==='Venda Pendente'" (click)="concluirVenda()">Concluir Venda</button>
        </div>
    </form>
</main>