<div>
    <ul>
        <li *ngFor="let dado of dados">
            <h1>
                <span>#{{dado.id}}</span>
                <span>{{dado.nome}}</span>
                <span>{{dado.codigo_barras}}</span>
                <span>Quantidade: {{dado.quantidade}}</span>
                <span>Preço: R${{dado.quantidade}}</span>
            </h1>
        </li> 
    </ul>
    <!-- <p>{{dados.nome}}</p> -->
    <!-- <p *ngFor="let pau of dados">{{pau.codigo_barras}}</p> -->
    <!-- <p>{{teste}}</p> -->

        <button>
            +
        </button>
</div>